.boxybaby {
         background-color: darkgrey;
        height: 500px;
        width: 680px;
        }
.boxinfant {
        background-color: darkgoldenrod;
        height: 300px;
        width: 450px;
        }